JWT_SECRET=create_your_own_jwt_secret_with_at_least_64_bytes
SPRING_DATABASE_URL=provide_the_database_URL_to_be_used
FLYWAY_URL=provide_the_jdbc_url_that_point_to_your_postgres
SPRING_DATABASE_PASSWORD=your_password_to_your_database
SPRING_DATABASE_USERNAME=the_username_varies_according_to_the_database_used
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
PORT=port_number_you_are_currently_running_on

BREVO_API=mail_sender_api_brevo
BREVO_MAIL=mail_sender_email_address_used
BREVO_SENDER_NAME=the_name_for_the_sender